.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  height: 100%;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 1vmin);
  width: 100%;
  height: 50px;
  background-color: #f8f9fa;
}
.body {
  color: white;
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
}
.home-navbar {
  width: 100%;
}
.navbar-individual {
  padding-left: 2.5rem !important;
}
.navbar-items {
  justify-content: flex-end;
  padding-right: 3%;
}
.App-link {
  color: #61dafb;
}
.card-body button {
  margin: 1%;
}
.footer {
  bottom: 0;
  background-color: white;
  text-align: center;
  width: 100%;
  /* opacity: 0.7; */
  height: 60px;
}
.social-icons a {
  height: 35px;
    margin: 0 0.5%;
    width: 35px;
    position: relative;
}
.social-icons i {
  position: absolute;
  left: 13px !important;
  top: 1px;
  /* bottom: -2px; */
  /* width: 32px; */
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 0px !important;
}