.HomePage {
    width: 100%;
    display: flex;
    flex-direction: row;
    .image-identity {
        width: 50%;
        display: flex;
        margin-top: 5%;
        justify-content: center;
        .personal-image {
            width: 60%;
            padding: 5%;
        }
    }
    .home-text-showcase {
        width: 50%;
        margin-top: 5%;
        padding: 3%;
    }
}