.HomePage {
    width: 100%;
    display: flex;
    flex-direction: row;
    .col-md-6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-identity {
        display: flex;
        .personal-image {
            width: calc(100% - (100px));
            padding: 5%;
        }
    }
    .home-text-showcase {
        font-family: 'Arvo', serif;
        font-size: 80px;
        padding: 3%;
        h1 {
            display: flex;
        }
        h2 {
            font-weight: 700;
        }
    }
}