.landing-content {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .row {
        justify-content: center;
    }
    .stack-top {
    box-shadow: 0px 20px 20px 20px rgba(0,0,0, 0.3);
    width: 50%;
    border: 1px solid white;
     .card-img {
         opacity: 0.3;
     }
    }
    .landing-card-text {
        font-weight: 800;
    }
    .landing-page-button{
        justify-content: center;
        margin: 1%;
        .btn {
            margin: 2% !important;
        }
    }
}
