.projects-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3%;
    .row {
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 32px;
        font-family: 'Berkshire Swash', cursive;
    }
    /* text-align: center; */
    justify-content: center;
    .project-card {
        .card-body {
            box-shadow: 0 9px 9px 9px rgba(192,192,192, 0.7);
        }
        width: 18rem;
        color: black;
        margin: 3%;
        .card-text-description {
            text-align: justify;
            font-size: 15px;
        }
    }
}