.projects-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3%;
    h2 {
        font-size: 32px;
        font-family: 'Berkshire Swash', cursive;
    }
    /* text-align: center; */
    justify-content: center;
    .project-card {
        width: 18rem;
        color: black;
        margin: 3%;
        .card-text-description {
            text-align: justify;
            font-size: 15px;
        }
    }
}